.test {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px red;
}

.myTable {
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid black;
}
.soam{
    color: orange;
}
.right{
    text-align: right;
}
td,
th {
  min-width: 100px;
}